<div style="width: 100vw; overflow-x: hidden">
  <app-onboarding-step1 *ngIf="step === 0"></app-onboarding-step1>
  <app-onboarding-step2 *ngIf="step === 1"></app-onboarding-step2>
  <app-onboarding-step3 *ngIf="step === 2"></app-onboarding-step3>
  <app-onboarding-step4 *ngIf="step === 3"></app-onboarding-step4>
  <app-onboarding-step5 *ngIf="step === 4"></app-onboarding-step5>
  <app-onboarding-step6 *ngIf="step === 5"></app-onboarding-step6>
  <app-onboarding-step7 *ngIf="step === 6"></app-onboarding-step7>
  <app-onboarding-step8 *ngIf="step === 7"></app-onboarding-step8>
  <app-onboarding-step9 *ngIf="step === 8"></app-onboarding-step9>
  <app-onboarding-step10 *ngIf="step === 9"></app-onboarding-step10>
  <app-onboarding-step11 *ngIf="step === 10"></app-onboarding-step11>
</div>
