<!-- HEADER -->

<app-landing-header [navActive]="0"></app-landing-header>

<!-- MAIN -->
<app-landing-hero></app-landing-hero>
<app-landing-categories></app-landing-categories>
<app-landing-partners></app-landing-partners>
<app-landing-top-programs></app-landing-top-programs>
<app-landing-top-coaches></app-landing-top-coaches>
<app-landing-story></app-landing-story>
<app-swiper></app-swiper>
<app-landing-cards></app-landing-cards>
<app-landing-how-it-works></app-landing-how-it-works>

<!-- FOOTER -->
<app-landing-footer></app-landing-footer>

<!-- EXTRA -->
<app-landing-off-canvas></app-landing-off-canvas>
