<section class="section bg-light">
  <div class="container">
    <!--end row-->

    <div class="row">
      <div class="col-md-4 mt-4 pt-2">
        <div
          class="card features feature-primary feature-clean work-process bg-transparent border-0 text-left"
        >
          <div class="icons text-center mx-auto">
            <i class="uil uil-presentation-edit rounded h3 mb-0"></i>
          </div>

          <div class="card-body">
            <h5 class="text-dark">عملية الموافقة على المدرب:</h5>
            <p class="text-muted mb-0">
              يخضع كل مدرب على منصتنا لعملية موافقة صارمة، مما يضمن أنهم ليسوا
              مجرد عشاق للياقة، بل محترفون. يتم توثيق كل مدرب والموافقة عليه من
              قبل طبيب مؤهل لضمان أعلى مستوى من الخبرة.
            </p>
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-md-4 mt-md-5 pt-md-3 mt-4 pt-2">
        <div
          class="card features feature-primary feature-clean work-process bg-transparent border-0 text-left"
        >
          <div class="icons text-center mx-auto">
            <i class="uil uil-airplay rounded h3 mb-0"></i>
          </div>

          <div class="card-body">
            <h5 class="text-dark">برامج تدريب مخصصة:</h5>
            <p class="text-muted mb-0">
              يحظى المستخدمون بالقدرة على تشكيل رحلتهم الرياضية. اختر مدربك
              واطلب برنامج تدريب شخصي مصمم حسب احتياجاتك، سواء كانت تحدياً لمدة
              4 أسابيع أو التزامًا طويل الأمد.
            </p>
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-md-4 mt-md-5 pt-md-5 mt-4 pt-2">
        <div
          class="card features feature-primary feature-clean work-process bg-transparent border-0 text-left"
        >
          <div class="icons text-center mx-auto">
            <i class="uil uil-image-check rounded h3 mb-0"></i>
          </div>

          <div class="card-body">
            <h5 class="text-dark">التحقق من قبل الأطباء:</h5>
            <p class="text-muted mb-0">
              لضمان شرعية وسلامة كل برنامج تدريب، يخضع كل برنامج لفحص شامل من
              قبل فريقنا من الأطباء المعتمدين. يضمن هذا الخطوة أن كل برنامج
              للياقة يتوافق مع المعايير الصحية، مما يمنحك الطمأنينة التي
              تستحقها.
            </p>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->

  <!--end container-->
</section>
<!--end section-->
