option {
  float: left;
  text-align: start;
}
.custom-tooltip {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  /* Add any other custom styles you need */
}

.tooltip-card {
  position: fixed;
  z-index: 1000;
}
