<app-landing-header [navActive]="4"></app-landing-header>

<div class="background-container">
  <div
    class="container d-flex align-items-center justify-content-center"
    style="min-height: 100vh; padding-top: 100px"
  >
    <div class="row col-12 col-md-9 col-lg-5 m-4">
      <h4 class="text-light text-center">
        {{ translateBaseRoute + "login" | translate }}
      </h4>

      <div class="register-form">
        <div
          class="py-3 bg-danger rounded align-items-center px-4"
          *ngIf="invalidMessage"
        >
          <h5 class="text-center">
            {{ translateBaseRoute + "invalid credentials" | translate }}...
          </h5>
        </div>
        <div
          class="py-3 bg-warning rounded align-items-center px-4"
          *ngIf="redirectMessage"
        >
          <h5 class="text-center">
            {{ translateBaseRoute + "You have to be loggedin in order to purchase the program" | translate }}...
          </h5>
        </div>
        <div
          class="py-3 bg-success rounded align-items-center px-4"
          *ngIf="valid"
        >
          <h5 class="text-center">
            {{ translateBaseRoute + "signing in" | translate }}
          </h5>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>{{ translateBaseRoute + "email" | translate }}*</label>
            <input
              type="text"
              formControlName="email"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
            />
            <div
              *ngIf="submitted && f['email'].errors"
              class="invalid-feedback"
            >
              <div *ngIf="f['email'].errors['required']">
                {{ translateBaseRoute + "email" | translate }}
                {{ translateBaseRoute + "required" | translate }}
              </div>
              <div *ngIf="f['email'].errors['email']">
                {{ translateBaseRoute + "email" | translate }}
                {{ translateBaseRoute + "required" | translate }}
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>{{ translateBaseRoute + "password" | translate }}*</label>
            <input
              type="password"
              formControlName="password"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
            />
            <div
              *ngIf="submitted && f['password'].errors"
              class="invalid-feedback"
            >
              <div *ngIf="f['password'].errors['required']">
                {{ translateBaseRoute + "password" | translate }}
                {{ translateBaseRoute + "required" | translate }}
              </div>
              <div *ngIf="f['password'].errors['minlength']">
                {{ translateBaseRoute + "password" | translate }}
                {{ translateBaseRoute + "must be" | translate }}
                {{ translateBaseRoute + "at least" | translate }} 6
                {{ translateBaseRoute + "characters" | translate }}
              </div>
              <div *ngIf="f['password'].errors['maxlength']">
                {{ translateBaseRoute + "password" | translate }}
                {{ translateBaseRoute + "must be" | translate }}
                {{ translateBaseRoute + "less than" | translate }} 40
                {{ translateBaseRoute + "characters" | translate }}
              </div>
            </div>
            <div class="form-group">
              <button
                type="submit"
                class="btn btn-dark col-12 py-3 mt-4"
                (click)="login()"
              >
                {{ translateBaseRoute + "login" | translate }}
              </button>
            </div>
          </div>
        </form>
      </div>
      <p class="mb-0 mt-3">
        <small class="text-light me-2">{{
          translateBaseRoute + "don't have an account?" | translate
        }}</small>
        <a
          href="javascript:void(0)"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasRight"
          aria-controls="offcanvasRight"
          [routerLink]="['/auth/register']"
        >
          <span class="text-light me-2 fw-bold">
            {{ translateBaseRoute + "register" | translate }}
          </span>
          <span class="mdi mdi-lock text-dark"></span>
        </a>
      </p>
    </div>
  </div>
</div>
