<app-landing-header></app-landing-header>

<section
  class="bg-half-170 d-table w-100"
  style="
    background: url('https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg')
      center center;
  "
>
  <div class="bg-overlay"></div>
  <div class="container">
    <div class="row mt-5 justify-content-center">
      <div class="col-lg-12 text-center">
        <div class="pages-heading">
          <h1 class="text-white mb-0">أفضل برامج التدريب للشباب</h1>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<div class="position-relative">
  <div class="shape overflow-hidden text-color-white">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z"
        fill="currentColor"
      ></path>
    </svg>
  </div>
</div>

<section class="section">
  <div class="container">
    <div id="grid" class="row">
      <div
        class="col-lg-4 col-md-6 col-12 mt-4 pt-2 picture-item"
        data-groups='["business"]'
      >
        <div
          class="card blog border-0 work-container work-primary work-classic shadow rounded-md overflow-hidden"
        >
          <img
            src="https://picsum.photos/1920/1080?random=2"
            class="img-fluid work-image"
            alt=""
          />
          <div class="card-body">
            <div class="content">
              <a href="javascript:void(0)" class="badge badge-link bg"
                >Business</a
              >
              <h5 class="mt-3">
                <a href="page-case-detail.html" class="text-dark title"
                  >200% Extended Facebook Reach</a
                >
              </h5>
              <p class="text-muted">
                This is required when, for example, the final text is not yet
                available.
              </p>
              <a href="javascript:void(0)" class="link h6"
                >Read More <i class="uil uil-angle-right-b align-middle"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <!--end col-->

      <div
        class="col-lg-4 col-md-6 col-12 mt-4 pt-2 picture-item"
        data-groups='["marketing"]'
      >
        <div
          class="card blog border-0 work-container work-primary work-classic shadow rounded-md overflow-hidden"
        >
          <img
            src="https://picsum.photos/1920/1080?random=1"
            class="img-fluid work-image"
            alt=""
          />
          <div class="card-body">
            <div class="content">
              <a href="javascript:void(0)" class="badge badge-link bg-warning"
                >Marketing</a
              >
              <h5 class="mt-3">
                <a href="page-case-detail.html" class="text-dark title"
                  >SEO Success For Insulation</a
                >
              </h5>
              <p class="text-muted">
                This is required when, for example, the final text is not yet
                available.
              </p>
              <a href="javascript:void(0)" class="link h6"
                >Read More <i class="uil uil-angle-right-b align-middle"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <!--end col-->

      <div
        class="col-lg-4 col-md-6 col-12 mt-4 pt-2 picture-item"
        data-groups='["finance"]'
      >
        <div
          class="card blog border-0 work-container work-primary work-classic shadow rounded-md overflow-hidden"
        >
          <img
            src="https://picsum.photos/1920/1080?random=4"
            class="img-fluid work-image"
            alt=""
          />
          <div class="card-body">
            <div class="content">
              <a href="javascript:void(0)" class="badge badge-link bg-success"
                >Finance</a
              >
              <h5 class="mt-3">
                <a href="page-case-detail.html" class="text-dark title"
                  >Mobile-Friendly Campaigns</a
                >
              </h5>
              <p class="text-muted">
                This is required when, for example, the final text is not yet
                available.
              </p>
              <a href="javascript:void(0)" class="link h6"
                >Read More <i class="uil uil-angle-right-b align-middle"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <!--end col-->

      <div
        class="col-lg-4 col-md-6 col-12 mt-4 pt-2 picture-item"
        data-groups='["human"]'
      >
        <div
          class="card blog border-0 work-container work-primary work-classic shadow rounded-md overflow-hidden"
        >
          <img
            src="assets/images/work/4.jpg"
            class="img-fluid work-image"
            alt=""
          />
          <div class="card-body">
            <div class="content">
              <a href="javascript:void(0)" class="badge badge-link bg-info"
                >HR</a
              >
              <h5 class="mt-3">
                <a href="page-case-detail.html" class="text-dark title"
                  >HVAC SEO Campaign</a
                >
              </h5>
              <p class="text-muted">
                This is required when, for example, the final text is not yet
                available.
              </p>
              <a href="javascript:void(0)" class="link h6"
                >Read More <i class="uil uil-angle-right-b align-middle"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <!--end col-->

      <div
        class="col-lg-4 col-md-6 col-12 mt-4 pt-2 picture-item"
        data-groups='["business"]'
      >
        <div
          class="card blog border-0 work-container work-primary work-classic shadow rounded-md overflow-hidden"
        >
          <img
            src="assets/images/work/5.jpg"
            class="img-fluid work-image"
            alt=""
          />
          <div class="card-body">
            <div class="content">
              <a href="javascript:void(0)" class="badge badge-link bg"
                >Business</a
              >
              <h5 class="mt-3">
                <a href="page-case-detail.html" class="text-dark title"
                  >Social Media & Small Business</a
                >
              </h5>
              <p class="text-muted">
                This is required when, for example, the final text is not yet
                available.
              </p>
              <a href="javascript:void(0)" class="link h6"
                >Read More <i class="uil uil-angle-right-b align-middle"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <!--end col-->

      <div
        class="col-lg-4 col-md-6 col-12 mt-4 pt-2 picture-item"
        data-groups='["marketing"]'
      >
        <div
          class="card blog border-0 work-container work-primary work-classic shadow rounded-md overflow-hidden"
        >
          <img
            src="assets/images/work/6.jpg"
            class="img-fluid work-image"
            alt=""
          />
          <div class="card-body">
            <div class="content">
              <a href="javascript:void(0)" class="badge badge-link bg-warning"
                >Marketing</a
              >
              <h5 class="mt-3">
                <a href="page-case-detail.html" class="text-dark title"
                  >PPC Success For HVAC Company</a
                >
              </h5>
              <p class="text-muted">
                This is required when, for example, the final text is not yet
                available.
              </p>
              <a href="javascript:void(0)" class="link h6"
                >Read More <i class="uil uil-angle-right-b align-middle"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <!--end col-->

      <div
        class="col-lg-4 col-md-6 col-12 mt-4 pt-2 picture-item"
        data-groups='["finance"]'
      >
        <div
          class="card blog border-0 work-container work-primary work-classic shadow rounded-md overflow-hidden"
        >
          <img
            src="assets/images/work/7.jpg"
            class="img-fluid work-image"
            alt=""
          />
          <div class="card-body">
            <div class="content">
              <a href="javascript:void(0)" class="badge badge-link bg-success"
                >Finance</a
              >
              <h5 class="mt-3">
                <a href="page-case-detail.html" class="text-dark title"
                  >Ecommerce PPC Case Studys</a
                >
              </h5>
              <p class="text-muted">
                This is required when, for example, the final text is not yet
                available.
              </p>
              <a href="javascript:void(0)" class="link h6"
                >Read More <i class="uil uil-angle-right-b align-middle"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <!--end col-->

      <div
        class="col-lg-4 col-md-6 col-12 mt-4 pt-2 picture-item"
        data-groups='["human"]'
      >
        <div
          class="card blog border-0 work-container work-primary work-classic shadow rounded-md overflow-hidden"
        >
          <img
            src="assets/images/work/8.jpg"
            class="img-fluid work-image"
            alt=""
          />
          <div class="card-body">
            <div class="content">
              <a href="javascript:void(0)" class="badge badge-link bg-info"
                >HR</a
              >
              <h5 class="mt-3">
                <a href="page-case-detail.html" class="text-dark title"
                  >Iphone mockup</a
                >
              </h5>
              <p class="text-muted">
                This is required when, for example, the final text is not yet
                available.
              </p>
              <a href="javascript:void(0)" class="link h6"
                >Read More <i class="uil uil-angle-right-b align-middle"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <!--end col-->

      <div
        class="col-lg-4 col-md-6 col-12 mt-4 pt-2 picture-item"
        data-groups='["human"]'
      >
        <div
          class="card blog border-0 work-container work-primary work-classic shadow rounded-md overflow-hidden"
        >
          <img
            src="assets/images/work/9.jpg"
            class="img-fluid work-image"
            alt=""
          />
          <div class="card-body">
            <div class="content">
              <a href="javascript:void(0)" class="badge badge-link bg-info"
                >HR</a
              >
              <h5 class="mt-3">
                <a href="page-case-detail.html" class="text-dark title"
                  >Iphone mockup</a
                >
              </h5>
              <p class="text-muted">
                This is required when, for example, the final text is not yet
                available.
              </p>
              <a href="javascript:void(0)" class="link h6"
                >Read More <i class="uil uil-angle-right-b align-middle"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<app-landing-footer></app-landing-footer>
