<section
  class="bg-video-studio d-flex align-items-center mb-0 pb-0"
  id="home"
  style="max-height: 100vh; overflow-y: hidden"
>
  <div class="bg-video-wrapper" style="overflow-y: hidden">
    <video
      autoplay
      [muted]="'muted'"
      [loop]="true"
      style="object-fit: cover; scale: 1.5"
      height="100%"
      width="100%"
    >
      <source src="assets/imgs/common/1157252607.mp4#t=20" type="video/mp4" />
    </video>
  </div>
  <div class="hero-gradient-overlay" style="opacity: 0.9"></div>
  <div class="container">
    <div class="row mt-5 mt-md-4">
      <div class="col-12">
        <div class="title-heading">
          <h1 class="mt-4 fw-bold">
            <span class="text-white" style="font-size: 50px">
              {{ "benefit from your fasting, Ramadan journey for" | translate }}
            </span>
          </h1>
          <h2 class="text-danger" style="font-size: 50px; margin-top: 12px">
            {{ "red" | translate }}
          </h2>

          <p class="para-desc text-white-50 w-75">
            حيث يجتمع المدربون والأطباء لإعداد برنامج تدريبي وتغذية خاص بك.
          </p>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
</section>
<!-- FEATURES START -->
<section class="pb-0 mb-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="features-absolute" style="top: -10px">
          <div class="row g-2 d-flex">
            <div class="col-6 col-lg-3 mt-4 pt-2" *ngFor="let card of cat">
              <a [routerLink]="['/onboarding']" (click)="onCardClick(card.type)">
                <div
                  class="card features feature-primary feature-clean explore-feature p-4 border-0 rounded-md text-center"
                >
                  <div class="img-holder">
                    <img
                      src="{{ card.imgUrl }}"
                      alt="{{ card.title | translate }}"
                    />
                  </div>
                  <div class="gradient-overlay"></div>
                  <div class="icons text-center mx-auto"></div>

                  <div class="card-body p-0 content">
                    <h5>
                      <a class="text-light">
                        {{ card.title | translate }}
                      </a>
                    </h5>
                  </div>
                </div>
              </a>
            </div>
            <!--end col-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
