<section class="section">
  <div id="work">
    <div id="wire"></div>
    <div id="fanos">
      <div id="small-circle"></div>
      <div id="half-circle"></div>
      <div id="bottom-quppa">
        <div id="line">
          <span class="ball"></span>
          <span class="ball"></span>
          <span class="ball"></span>
          <span class="ball"></span>
          <span class="ball"></span>
          <span class="ball"></span>
          <span class="ball"></span>
        </div>
        <div id="top-triangle"></div>
        <div id="box">
          <div id="candel"></div>
          <div id="col"></div>
        </div>
        <div id="final">
          <div id="line"></div>
          <div id="last-triangle"></div>
        </div>
      </div>
    </div>
    <div class="light" id="c1">
      <div class="light">
        <div class="light">
          <div class="light"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <h5 class="text-light text-center">
      {{'Pound Platform wishes you a ramdan mubarak' | translate }} 
      <span class="mdi mdi-heart"></span>
    </h5>
  </div>
</section>
