.bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity here */
  z-index: 1;
}

.bg-half-170 {
  position: relative;
}

.container {
  position: relative;
  z-index: 2;
}

.pages-heading {
  margin-top: 5rem; /* Adjust the margin-top as needed */
}
