<div class="card border-0">
  <div>
    <h4 class="p-4">
      {{ translateBaseRoute + "Training Programs" | translate }}
    </h4>
    <div
      class="mb-3 row align-items-center justify-content-start ms-1 gap-2 px-2 col-12"
    >
      <div class="col-3 px-0 mx-0">
        <input
          id="table-complete-search"
          type="text"
          class="form-control"
          name="searchTerm"
          placeholder="Search by Name..."
        />
      </div>
      <div class="col-2 px-0 mx-0">
        <button class="btn btn-light w-100 px-0 mx-0" (click)="newProgram()">
          <span class="mdi mdi-plus"></span>
        </button>
      </div>
      <div class="col-2 px-0 mx-0">
        <button
          class="btn btn-secondary w-100 px-0 mx-0"
          [disabled]="!selectedRow"
          (click)="modifyProgram()"
        >
          <span class="mdi mdi-pencil"></span>
        </button>
      </div>
      <div class="col-1 px-0 mx-0">
        <button
          class="btn btn-danger w-100 px-0 mx-0"
          [disabled]="!selectedRow"
          (click)="deleteRow()"
        >
          <span class="mdi mdi-delete"></span>
        </button>
      </div>
    </div>
  </div>

  <div
    class="table-responsive border-bottom border-light border-top rounded-bottom"
    style="height: 545px"
  >
    <form class="mt-3">
      <table class="table">
        <thead>
          <tr class="sticky-header">
            <th *ngFor="let column of columns" scope="col" sortable="name">
              {{ column.name }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let program of programs$"
            (click)="onRowClick(program)"
            [class.clicked-row]="selectedRow && selectedRow._id === program._id"
          >
            <td *ngFor="let column of columns">
              <ng-container *ngIf="column.type === 'text'">
                <td [style.minWidth]="column.width + 'px'">
                  {{ formatValue(program[column._id]) }}
                </td>
              </ng-container>
              <ng-container *ngIf="column.type === 'lookup'">
                <td [style.minWidth]="column.width + 'px'">
                  {{ formatValue(program[column._id]) }}
                </td>
              </ng-container>

              <ng-container *ngIf="column._id === 'phases'">
                <td [style.minWidth]="column.width + 'px'">
                  <div ngbDropdown container="body">
                    <button
                      type="button"
                      class="btn btn-light btn-sm"
                      ngbDropdownToggle
                    >
                      Details ({{ formatValue(program[column._id]).length }})
                    </button>
                    <div ngbDropdownMenu>
                      <div
                        ngbDropdownItem
                        disabled
                        *ngFor="let phase of formatValue(program[column._id])"
                      >
                        <h6>
                          {{ phase }} {{ program[column._id][phase] + "%" }}
                        </h6>
                        <div class="progress mt-1">
                          <div
                            class="progress-bar position-relative bg-secondary"
                            [style.minWidth.%]="program[column._id][phase]"
                          ></div>
                        </div>
                        <div class="dropdown-divider"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </ng-container>
              <ng-container *ngIf="column.type === 'link'">
                <td [style.minWidth]="column.width + 'px'">
                  <div
                    class="mt-1 truncate-text"
                    [ngStyle]="{ 'max-width.px': column.width }"
                  >
                    <img
                      src="{{ formatValue(program[column._id]) }}"
                      alt="program img"
                      style="object-fit: cover; height: 42px"
                      [ngStyle]="{ 'width.px': column.width }"
                    />
                  </div>
                </td>
              </ng-container>
            </td>
          </tr>
          <tr *ngIf="!programs$" colspan="4" style="text-align: center">
            No programs found
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
