<section class="section" style="height: max-content; padding-bottom: 100px">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-dark text-center">
        <div class="section-title mb-4 pb-2">
          <h4 class="title mb-4">
            {{ "pain areas" | translate }}
          </h4>
          <p class="para-desc mx-auto mb-0 text-muted">
            {{
              "please select any areas where you are experiencing discomfort or pain"
                | translate
            }}
          </p>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
    <div class="row">
      <div
        class="col-lg-3 col-6 col-md-3 mt-4 pt-2"
        *ngFor="let phase of SHAPE_PHASES"
        (click)="toggleSelection(phase.title)"
      >
        <div
          class="card  rounded bg-white border-{{
            isSelected(phase.title) ? 'dark' : '0'
          }}"
          style="overflow: hidden"
        >
          <div class="position-relative" style="overflow: hidden">
            <img
              src="{{ phase.img }}"
              class="card-img-top rounded-top"
              alt="..."
              style="
                object-fit: cover;
                object-position: center 20%;
                width: 100%;
                height: auto;
              "
            />
          </div>
          <div
            class="card-body bg-light row card-title my-0 py-0 pt-2 align-items-center"
          >
            <!-- Change the click event to toggleSelection method -->
            <h5 class="col my-0 py-0 mb-1">
              <span
                class="mdi bg-white text-dark rounded p-2 pb-0"
                [ngClass]="{
                  'mdi-checkbox-marked': isSelected(phase.title),
                  'mdi-checkbox-blank-outline': !isSelected(phase.title)
                }"
              ></span>
            </h5>
            <h5 class="col my-0 py-0 text-muted">
              {{ phase.title | translate }}
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="next-btn border-top bg-light w-100">
  <button
    (click)="submitSelections()"
    class="w-100 btn btn-dark py-2"
    [disabled]="!canSubmit"
  >
    {{ "next" | translate }}
  </button>
</div>
