.sticky-column {
  position: sticky;
  left: 0;
  z-index: 1;
  transition: box-shadow 0.3s ease;
}
.sticky-column  {
  box-shadow: 5px 0px 5px -5px rgba(0, 0, 0, 0.2); /* Add box shadow */
  transition: box-shadow 0.3s ease;
}
