<section class="section bg-light">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-10 row">
        <div class="col-md-6 order-2 order-md-1 mt-4 mt-sm-0 pt-2 pt-sm-0">
          <div class="section-title me-lg-5">
            <h4 class="title my-4">رحلتي في النادي لمدة عامين: قصة سارة.</h4>
            <p class="text-muted">
              مرحبا، أنا سارة. دعوني أشارككم في رحلتي الرائعة لمدة عامين في
              النادي. في هذه الفترة، واجهت تحديات، حققت نجاحات، وشاهدت تحولي
              الرائع من خلال الالتزام والعمل الجاد. انضموا إلى قصتي الملهمة حول
              التمكين ورحلة اللياقة البدنية التي خاضتها سارة.
            </p>
            <a href="javascript:void(0)" class="btn btn-outline-primary">
              <span> استكشاف الآن </span> <i class="uil uil-angle-left-b"></i>
            </a>
          </div>
        </div>
        <!--end col-->

        <div class="img-holder col-md-6 order-1 order-md-2">
          <img
            src="https://static.toiimg.com/photo/msid-100520982/100520982.jpg"
            class="img-fluid rounded"
            alt=""
          />
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
  </div>
  <!--end container-->
</section>
