.form-group {
  padding: 10px;
}
.background-container {
  background-color: #000;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.register-form {
  color: white;
  font-size: 18px;
  padding: 20px;
  background: rgba(100, 100, 100, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(100, 100, 100, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(100, 100, 100, 0.3);
}
