<div class="row">
  <h4 class="mt-lg-5 mt-4 mb-0 pb-4">قصص العملاء :</h4>
  <div class="col-md-6 mt-4 pt-2" *ngFor="let story of stories">
    <div class="card blog blog-primary rounded border-0 shadow">
      <div class="position-relative">
        <ngb-carousel>
          <ng-template ngbSlide *ngFor="let img of story.imgs">
            <div class="picsum-img-wrapper">
              <img [src]="img" alt="..." class="card-img-top rounded-top" />
            </div>
          </ng-template>
        </ngb-carousel>
        <div class="overlay rounded-top"></div>
      </div>
      <div class="card-body content">
        <h5>
          <a href="javascript:void(0)" class="card-title title text-dark">
            {{ story.title }}
          </a>
        </h5>
        <div class="d-flex justify-content-between pt-2 border-top">
          <h5 class="mb-0">{{ getRelatedUser(story.user_id)?.name }}</h5>
          <h6 class="text-dark mb-0">{{ story.duration }}</h6>
        </div>
        <p class="text-secondary mb-0">
          {{ story.description }}
        </p>
      </div>
      <div class="author">
        <small class="user d-block">
          {{ getRelatedUser(story.user_id)?.name }} <i class="uil uil-user"></i>
        </small>
      </div>
    </div>
  </div>
</div>
