<app-landing-header></app-landing-header>

<section class="bg-half">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">
        <div class="section-title">
          <div class="text-center">
            <h4 class="title mb-4">
              وسائل التواصل الاجتماعي والأعمال التجارية الصغيرة
            </h4>
            <img
              src="https://picsum.photos/1920/1080?random=2"
              class="img-fluid rounded-md shadow-md"
              alt=""
            />
          </div>
          <p class="text-muted mb-0 mt-4">
            ويكون ذلك مطلوبًا عندما لا يكون النص النهائي متاحًا بعد، على سبيل
            المثال. يُعرف النص الوهمي أيضًا باسم "ملء النص". يقال أن مؤلفي
            الأغاني في الماضي استخدموا نصوصًا وهمية ككلمات عند كتابة الألحان من
            أجل الحصول على نص "جاهز" للغناء مع اللحن. تم استخدام النصوص الوهمية
            من قبل عمال التنضيد منذ القرن السادس عشر.
          </p>

          <h4 class="my-4">التحديات</h4>
          <p class="text-muted">
            نظرًا لاستخدامه على نطاق واسع كنص حشو للتخطيطات، إن عدم قابلية
            القراءة له أهمية كبيرة: حيث يتم ضبط الإدراك البشري عليه التعرف على
            أنماط وتكرارات معينة في النصوص.
          </p>
          <p class="text-muted mb-0">
            لهذا السبب، يتكون النص الوهمي عادة من سلسلة عشوائية إلى حد ما من
            الكلمات أو المقاطع. وهذا يمنع الأنماط المتكررة من إضعاف الانطباع
            البصري العام ويسهل المقارنة بين الخطوط المختلفة.
          </p>

          <h4 class="my-4">حلول</h4>
          <p class="text-muted">
            علاوة على ذلك، من المفيد أن يكون النص الوهمي واقعيًا نسبيًا بحيث لا
            يتم المساس بالانطباع التخطيطي للمنشور النهائي.
          </p>
          <p class="text-muted mb-0">
            أحد عيوب هو أن بعض الحروف في اللاتينية تظهر بشكل متكرر أكثر من غيرها
            - مما يخلق انطباعًا بصريًا مميزًا. علاوة على ذلك، في اللاتينية يتم
            كتابة الحروف الكبيرة فقط في الكلمات الموجودة في بداية الجمل.
          </p>

          <h4 class="my-4">نتائج</h4>
          <p class="text-muted">
            من عيوب أن بعض الحروف في اللاتينية تظهر بشكل متكرر أكثر من غيرها -
            مما يخلق انطباعًا بصريًا مميزًا. علاوة على ذلك، في اللاتينية يتم
            كتابة الحروف الكبيرة فقط في الكلمات الموجودة في بداية الجمل. ومن
            المفيد أن يكون النص الوهمي واقعيًا نسبيًا بحيث لا يتم المساس
            بالانطباع التخطيطي للمنشور النهائي.
          </p>

          <div class="row" id="counter">
            <div class="col-md-4 col-6 mt-4 pt-2">
              <div class="counter-box text-center">
                <img
                  src="https://picsum.photos/1920/1080?random=22"
                  class="avatar avatar-small"
                  alt=""
                />
                <h2 class="mb-0 mt-4">
                  <span class="counter-value" data-target="15">3</span>%
                </h2>
                <h6 class="counter-head text-muted">الاستهلاك</h6>
              </div>
              <!--end counter box-->
            </div>

            <div class="col-md-4 col-6 mt-4 pt-2">
              <div class="counter-box text-center">
                <img
                  src="https://picsum.photos/1920/1080?random=24"
                  class="avatar avatar-small"
                  alt=""
                />
                <h2 class="mb-0 mt-4">
                  <span class="counter-value" data-target="195">1</span>%
                </h2>
                <h6 class="counter-head text-muted">ربح</h6>
              </div>
              <!--end counter box-->
            </div>

            <div class="col-md-4 col-6 mt-4 pt-2">
              <div class="counter-box text-center">
                <img
                  src="https://picsum.photos/1920/1080?random=26"
                  class="avatar avatar-small"
                  alt=""
                />
                <h2 class="mb-0 mt-4">
                  <span class="counter-value" data-target="98">3</span>%
                </h2>
                <h6 class="counter-head text-muted">حالة حلها</h6>
              </div>
              <!--end counter box-->
            </div>
          </div>
          <!--end row-->

          <h4 class="my-4">ملاحظات العميل</h4>
          <div class="p-4 bg-light">
            <p class="text-muted h6 fst-italic">
              " يبدو أنه لم يبق في نصوص لوريم إيبسوم المستخدمة اليوم سوى أجزاء
              من النص الأصلي. والنص الوهمي الأكثر شهرة هو "لوريم إيبسوم" الذي
              يقال إنه نشأ في القرن السادس عشر."
            </p>
            
            <ul class="list-unstyled mb-0 mt-3">
              <li class="list-inline-item">
                <i class="mdi mdi-star text-warning"></i>
              </li>
              <li class="list-inline-item">
                <i class="mdi mdi-star text-warning"></i>
              </li>
              <li class="list-inline-item">
                <i class="mdi mdi-star text-warning"></i>
              </li>
              <li class="list-inline-item">
                <i class="mdi mdi-star text-warning"></i>
              </li>
              <li class="list-inline-item">
                <i class="mdi mdi-star text-warning"></i>
              </li>
            </ul>
            <h6 class="text-primary">
              - توماس اربيتا <small class="text-muted">المدير التنفيذي</small>
            </h6>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->
