<div class="card border-0">
  <div>
    <h4 class="p-4">
      {{ translateBaseRoute + "users" | translate }}
    </h4>
    <div
      class="mb-3 row align-items-center justify-content-start ms-1 gap-2 px-2 col-12"
    >
      <div class="col-3 px-0 mx-0">
        <input
          id="table-complete-search"
          type="text"
          class="form-control"
          name="searchTerm"
          [(ngModel)]="userService.searchTerm"
          placeholder="Search by Name..."
        />
      </div>

      <div class="col-2 px-0 mx-0">
        <button class="btn btn-light w-100 px-0 mx-0" (click)="newRow()">
          <span class="mdi mdi-plus"></span>
        </button>
      </div>
      <div class="col-2 px-0 mx-0">
        <button
          class="btn btn-secondary w-100 px-0 mx-0"
          [disabled]="!selectedRow"
          (click)="openEditModal(selectedRow)"
        >
          <span class="mdi mdi-pencil"></span>
        </button>
      </div>
      <div class="col-1 px-0 mx-0">
        <button
          class="btn btn-danger w-100 px-0 mx-0"
          [disabled]="!selectedRow"
          (click)="deleteRow()"
        >
          <span class="mdi mdi-delete"></span>
        </button>
      </div>
    </div>
  </div>

  <div
    class="table-responsive border-bottom border-light border-top rounded-bottom"
    style="height: 545px"
  >
    <form class="mt-3">
      <table class="table">
        <thead>
          <tr class="sticky-header">
            <th
              *ngFor="let column of columns; let firstColumn = first"
              scope="col"
              [ngClass]="{ 'sticky-column': firstColumn }"
              sortable="name"
              (sort)="onSort($event)"
            >
              {{ column.name }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let user of users"
            (click)="onRowClick(user)"
            [class.clicked-row]="selectedRow && selectedRow._id === user._id"
          >
            <td
              [ngClass]="{ 'sticky-column': column === columns[0] }"
              *ngFor="let column of columns"
            >
              <ng-container
                *ngIf="
                  column.type === 'text' &&
                  column._id !== 'name' &&
                  column._id !== 'address' &&
                  column._id !== 'email'
                "
              >
                <td [style.minWidth]="column.width + 'px'">
                  {{ formatValue(user[column._id]) }}
                </td>
              </ng-container>
              <ng-container *ngIf="column._id === 'address'">
                <td [style.minWidth]="column.width + 'px'">
                  {{ user.address.country }}
                  <br />
                  {{ user.address.postal_code }} {{ user.address.city }}
                  <br />
                  {{ user.address.street }}
                  {{ user.address.street_2 ? user.address.street_2 : "" }}
                </td>
              </ng-container>

              <ng-container *ngIf="column._id === 'email'">
                <td [style.minWidth]="column.width + 'px'">
                  <button
                    class="btn btn-light btn-sm me-1"
                    (click)="open(content)"
                  >
                    <span class="mdi mdi-content-copy"></span>
                  </button>
                  <button
                    class="btn btn-light btn-sm me-1"
                    (click)="open(content)"
                  >
                    <span class="mdi mdi-pencil"></span>
                  </button>
                  <button class="btn btn-light btn-sm" (click)="open(content)">
                    <span class="mdi mdi-open-in-new"></span>
                  </button>
                  <div
                    class="mt-1 truncate-text"
                    [ngStyle]="{ 'max-width.px': column.width }"
                  >
                    <small class="text-muted truncate-text">
                      {{ formatValue(user[column._id]) }}
                    </small>
                  </div>
                </td>
              </ng-container>
              <ng-container *ngIf="column._id === 'name'">
                <td
                  [style.minWidth]="column.width + 'px'"
                  class="row d-flex gap-2 align-items-center"
                >
                  <div class="col-3">
                    <img
                      src="{{ user.img }}"
                      alt="profile img"
                      class="rounded-circle"
                      width="42"
                    />
                  </div>
                  <div class="col row d-flex align-items-center pt-1">
                    <h6 class="p-0 m-0">
                      {{ formatValue(user[column._id]) }}
                      <br />
                      <small style="font-weight: 300">
                        {{ user.dob | date }}
                      </small>
                    </h6>
                    <div
                      class="rounded bg-light"
                      style="width: fit-content; font-weight: 500"
                    >
                      <p class="p-0 m-0">
                        <span
                          style="color: #dc3545"
                          class="mdi mdi-shield-crown-outline"
                          *ngIf="user.roles === 'admin'"
                        ></span>
                        <span
                          style="color: #35c9dc"
                          class="mdi mdi-card-account-details-outline"
                          *ngIf="user.roles === 'worker'"
                        ></span>
                        <span
                          style="color: #6c757d"
                          class="mdi mdi-account-outline"
                          *ngIf="user.roles === 'user'"
                        ></span>
                        <span class="ms-2">{{ user.roles }}</span>
                      </p>
                    </div>
                  </div>
                </td>
              </ng-container>
            </td>
          </tr>
          <tr *ngIf="!users" colspan="4" style="text-align: center">
            No users found
          </tr>
        </tbody>
      </table>
    </form>
  </div>
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="(total$ | async)!"
      [(page)]="userService.page"
      [pageSize]="userService.pageSize"
    >
    </ngb-pagination>

    <select
      class="form-select"
      style="width: auto"
      name="pageSize"
      [(ngModel)]="userService.pageSize"
    >
      <option [ngValue]="10">10 items per page</option>
      <option [ngValue]="50">50 items per page</option>
      <option [ngValue]="100">100 items per page</option>
    </select>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-body">ad</div>
</ng-template>
