<section class="section" style="min-height: 105vh;">
  <div id="output" class="text-center">
    <h1
      class="text-muted py-2 w-75 rounded"
      style="margin: auto; background-color: rgba(255, 255, 255, 0.636)"
    >
      {{ "dob" | translate }}
    </h1>
  </div>

  <div class="container px-4 mt-4">
    <form [formGroup]="form">
      <div>
        <div class="row">
          <div class="col p-0">
            <input
              class="form-control h-75"
              placeholder="2002-03-14"
              name="dp"
              [(ngModel)]="model"
              ngbDatepicker
              #d="ngbDatepicker"
              [minDate]="{ year: 1950, month: 1, day: 1 }"
              [maxDate]="{ year: 2006, month: 12, day: 31 }"
              (input)="checkValidity()"
              formControlName="dob"
              (closed)="checkValidity()"
            />
          </div>
          <div class="col-2 p-0">
            <button
              class="btn btn-secondary mdi mdi-calendar rounded w-100 h-75"
              (click)="d.toggle()"
              type="button"
            ></button>
          </div>
        </div>
      </div>
    </form>
    <div>
      <ngb-alert
        type="light"
        class="mt-2"
        *ngIf="isInputValid"
        [dismissible]="false"
      >
        <span class="mdi mdi-human"></span>
        <strong>
          {{ "We ask about your age to personalize your plan" | translate }}
        </strong>
        <br />
        <br />

        <small>
          {{
            "Older people are found to have a higher body fat percentage than younger people with the same BMI."
              | translate
          }}
        </small>
      </ngb-alert>
    </div>
  </div>
</section>

<div class="next-btn border-top">
  <button
    (click)="onSubmitStep()"
    class="w-100 btn btn-dark py-2"
    [disabled]="!isInputValid"
  >
    {{ "next" | translate }}
  </button>
</div>
