.sticky-header {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 100;
}

.table {
  border-collapse: separate;
  border-spacing: 0;
}

th,
td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

