.img-holder {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.card.job-profile {
  position: sticky;
  top: 20px;
  z-index: 1;
}

@media (max-width: 767px) {
  .job-profile {
    max-height: 450px;
  }
}
.nav-link.active {
  background-color: #e9e9e9 !important;
}
.nav-link.active:hover {
  background-color: #e9e9e9 !important;
}

.job-profile-holder .job-profile {
  border-radius: 10px;
  background-color: #f9f9f9ce;
  padding: 4px;
  overflow: hidden;
}
.tab-content,
.nav-pills {
  border-radius: 10px;
  background-color: #fff;
}
