<!-- <div class="sticky-bar p-4 rounded shadow" style="top: 20px">
  <div class="widget">
    <div class="row justify-content-around">
      <div class="col-lg-12">
        <div
          class="p-2 public-profile border-bottom rounded bg-light mb-4"
          style="z-index: 1"
        >
          <div class="card-body">
            <div class="row align-items-start">
              <div class="col-lg-2 col-md-3 text-center position-relative">
                <img
                  src="https://picsum.photos/200"
                  class="avatar avatar-small rounded-circle d-block mx-auto"
                  alt=""
                />
              </div>
              <div class="col-lg-10 col-md-9">
                <div class="row align-items-end me-lg-2 me-0 mt-2">
                  <div class="col-md-8 text-lg-end text-md-end text-center">
                    <h5 class="mb-2">
                      {{ coach.name }}
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer border-top py-2 text-muted text-center">
            <div class="badge bg-info text-light">
              <span class="mdi mdi-email-fast-outline"></span>
              مدرب الاسبوع
            </div>
            <div class="badge bg-dark text-light me-2">
              <span class="mdi mdi-chevron-double-up"></span>
              محترف
            </div>
            <div class="badge bg-dark text-light me-2">
              <span class="mdi mdi-email-fast-outline"></span>
              سريع
            </div>
          </div>
          <div
            class="card-footer border-top pt-2 text-muted"
            style="font-size: 12px"
          >
            <span> موثّق من قِبل الدكتورة </span>
            <a href=""> <span class="text-dark">ميّاس عبد الغني</span> </a>
            <span class="mdi mdi-check-decagram text-dark me-1"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center d-flex gap-1 mb-2 mt-0">
      <div class="col-4 bg-light border-bottom py-2 rounded text-center">
        <h5 class="text-dark pt-1">
          <span
            style="font-size: 12px"
            *ngFor="let lang of coach.languages"
            class="fi fi-{{ lang }} me-1 py-2"
          ></span>
        </h5>
        <p class="text-muted mb-0">
          {{ translateBaseRoute + "languages" | translate }}
        </p>
      </div>
      <div class="col-3 bg-light border-bottom py-2 rounded text-center">
        <h5 class="text-dark pt-1">4,5</h5>
        <p class="text-muted mb-0">
          {{ translateBaseRoute + "rating" | translate }}
        </p>
      </div>
      <div class="col-4 bg-light border-bottom py-2 rounded text-center">
        <h5 class="text-dark pt-1">9911D3E</h5>
        <p class="text-muted mb-0">
          {{ translateBaseRoute + "certification-number" | translate }}
        </p>
      </div>
    </div>
    <div class="row justify-content-center d-flex gap-2">
      <div class="col-5 bg-light border-bottom py-2 rounded text-center">
        <h5 class="text-dark pt-1">
          {{ coach.clientsServed }}
        </h5>
        <p class="text-muted mb-0">
          <i class="uil uil-users-alt"></i>
          {{ translateBaseRoute + "profile-card.customers" | translate }}
        </p>
      </div>
      <div class="col-5 bg-light border-bottom py-2 rounded text-center">
        <i data-feather="users" class="fea icon-ex-md text-primary mb-1"></i>
        <h5 class="text-dark pt-1">
          {{ coach.trainingPrograms.length }}
        </h5>
        <p class="text-muted mb-0">
          <i class="uil uil-shield-check"></i>
          {{ translateBaseRoute + "profile-card.programs" | translate }}
        </p>
      </div>
    </div>

    <div class="row justify-content-center mt-3">
      <button class="btn btn-dark col-11 mb-1 py-2 text-center">
        <i class="uil uil-message p-2"></i>
        {{ translateBaseRoute + "profile-card.buttons.message" | translate }}
      </button>
    </div>
    <div class="row justify-content-center mt-1">
      <button class="btn btn-secondary col-6 ms-1 py-2 text-center">
        <i class="uil uil-comments-alt p-2"></i>
        {{
          translateBaseRoute + "profile-card.buttons.testimonials" | translate
        }}
      </button>
      <button class="btn btn-light col-5 py-2 text-center">
        <i class="uil uil-box p-2"></i>
        {{ translateBaseRoute + "profile-card.buttons.products" | translate }}
      </button>
    </div>
  </div>
</div> -->
