<main class="flex-shrink-0" *ngIf="user" #invoice>
  <div class="container border mt-3">
    <div class="row overflow-auto">
      <div class="col-5">
        <div
          class="d-flex flex-column justify-content-between align-items-start h-75 p-2"
        >
          <div>
            <h5 class="mt-4">
              {{  "receipt" | translate }}
            </h5>
          </div>
          <h5 class="mt-4">
            {{  "client number" | translate }}:
          </h5>
          <h6>{{ user._id }}</h6>
        </div>
      </div>
      <div class="col-7 text-start">
        <div class="p-2 pt-4">
          <img
            class="img-fluid"
            alt="Idea Foundry, Irc LOGO"
            src="assets/imgs/common/pound.png"
            width="100px"
          />
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-12">
        <div class="d-flex flex-column flex-md-row justify-content-between p-2">
          <span>
            <b>{{  "order number" | translate }}: </b>
            {{ orderData._id }}
          </span>
          <span>
            <b>{{  "date" | translate }}: </b>
            {{ orderData.createdAt | date : "dd-MM-yyyy" : "" : "ar" }}
          </span>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-between p-2">
          <span>
            <b>{{  "invoice to" | translate }}: </b><br />
            <address>
              {{ user.name }}<br />
              {{ user.address.postal_code }} {{ user.address.country }}<br />
              {{ user.address.city }},
              {{ user.address.street ? user.address.street : "" }}
            </address>
          </span>
        </div>
      </div>
      <div class="col-12">
        <div class="overflow-auto">
          <table class="table table-bordered table-responsive">
            <thead>
              <tr>
                <th *ngFor="let column of columns">{{ column.name }}</th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="table-secondary"
                *ngFor="let item of orderData.items"
              >
                <td *ngFor="let column of columns">
                  <ng-container *ngIf="column._id === 'amount'">
                    {{ item["price"] | currency }}
                  </ng-container>
                  <ng-container *ngIf="column._id === 'quantity'">
                    1
                  </ng-container>
                  <ng-container
                    *ngIf="
                      column._id !== 'price' &&
                        column._id !== 'quantity' &&
                        column._id !== 'amount';
                      else currencyTd
                    "
                  >
                    {{ item[column._id] }}
                  </ng-container>
                  <ng-template #currencyTd>
                    {{ item[column._id] | currency }}
                  </ng-template>
                </td>
              </tr>
              <tr
                class="table-light"
                *ngFor="let item of orderData.addons"
              >
                <td *ngFor="let column of columns">
                  <ng-container *ngIf="column._id === 'amount'">
                    {{ item["price"] | currency }}
                  </ng-container>
                  <ng-container *ngIf="column._id === 'quantity'">
                    1
                  </ng-container>
                  <ng-container
                    *ngIf="
                      column._id !== 'price' &&
                        column._id !== 'quantity' &&
                        column._id !== 'amount';
                      else currencyTd
                    "
                  >
                    {{ item[column._id] }}
                  </ng-container>
                  <ng-template #currencyTd>
                    {{ item[column._id] | currency }}
                  </ng-template>
                </td>
              </tr>

              <tr>
                <td colspan="4">
                  {{  "sub total" | translate }}:
                </td>
                <td>{{ orderData.price | currency }}</td>
              </tr>
              <tr>
                <td colspan="4">
                  {{  "VAT" | translate }}:
                </td>
                <td>{{ 0.25 | percent : "2.2" }}</td>
              </tr>
              <tr>
                <td colspan="4">
                  {{  "total" | translate }}:
                </td>
                <td>{{ orderData.price * 1.25 | currency }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="mb-3 p-2">
          <b>{{  "note" | translate }}: </b>
          {{
            
              "This is computer generated receipt and does not require physical signature."
              | translate
          }}
        </div>
      </div>
    </div>
  </div>
</main>
