<h5 class="mt-4 mb-0">
  {{ translateBaseRoute + "training-programs" | translate }}:
</h5>
<div class="row border-bottom pb-4">
  <div
    class="col-md-6 mt-4 pt-2"
    *ngFor="let program of coach.trainingPrograms"
  >
    <a href="">
      <div
        class="card blog blog-primary rounded border-0 bg-light border-bottom"
      >
        <div class="position-relative">
          <div class="picsum-img-wrapper">
            <img
              [src]="program.img"
              alt="..."
              class="card-img-top rounded-top"
            />
          </div>
        </div>
        <div class="card-body content">
          <div class="d-flex justify-content-between row border-bottom pb-4">
            <!-- your-component.component.html -->

            <div
              *ngFor="let item of program.phases | keyvalue"
              class="progress-box col"
            >
              <h6 class="title text-muted">
                <span class="ms-2">{{ item.value }}%</span>
                <span>{{
                  translateBaseRoute + "phases." + item.key | translate
                }}</span>
              </h6>
              <div class="progress">
                <div
                  class="progress-bar position-relative bg-secondary"
                  [style.width.%]="item.value"
                ></div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-between pt-4">
            <h5 class="mb-0">{{ program.name }}</h5>
            <h2 class="text-success mb-0">
              $<span>15.<small>99</small></span>
            </h2>
          </div>
          <p class="text-secondary mb-0">
            <span>٢</span>
            <span class="me-1">طلب في قائمة الإنتظار</span>
          </p>
        </div>
      </div>
    </a>
  </div>
</div>
