<section class="section" style="min-height: 105vh">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-12 order-md-2">
        <div class="card rounded border-0 shadow ms-lg-5">
          <div class="card-body">
            <h5>
              {{ "your ramadan journey" | translate }}:
              {{ "losing" | translate }} {{ this.weightDifference }}
              {{ "kg" | translate }}
            </h5>

            <div id="chart" class="card p-2">
              <i style="font-size: 8px" class="text-start text-muted">
                ({{ "kg" | translate }})
              </i>
              <apx-chart
                [series]="chartOptions.series"
                [chart]="chartOptions.chart"
                [xaxis]="chartOptions.xaxis"
                [dataLabels]="chartOptions.dataLabels"
                [grid]="chartOptions.grid"
                [stroke]="chartOptions.stroke"
                [title]="chartOptions.title"
                [markers]="chartOptions.markers"
                [yaxis]="chartOptions.yaxis"
                [fill]="chartOptions.fill"
                [tooltip]="{ enabled: false }"
                [legend]="{ show: false }"
              ></apx-chart>
              <i style="font-size: 8px" class="text-center text-muted">
                {{
                  "Note: This chart is for forecasting only and may not be 100% accurate. Please keep in mind that results may vary and depend on changing conditions and factors. Use this information with caution and consult relevant experts before making any health decisions."
                    | translate
                }}
              </i>
            </div>

            <div class="mt-4">
              <ngb-alert
                *ngIf="isPossibleDuringRamadan"
                type="info"
                [dismissible]="false"
                style="font-size: 12px"
              >
                <span class="mdi mdi-check-circle"></span>
                خبر سعيد! يمكنك تحقيق هدفك خلال شهر رمضان!
                <br />
                <br />
                <small>
                  تحقيق الهدف خلال رمضان ممكن! استعد لتحقيق تقدم ملموس في رحلتك
                  التدريبية خلال هذا الشهر الكريم. برامجنا مصممة لتلبية
                  احتياجاتك وتحفيزك للوصول إلى الأهداف.
                </small>
              </ngb-alert>
              <ngb-alert
                *ngIf="!isPossibleDuringRamadan"
                type="warning"
                [dismissible]="false"
                style="font-size: 10px"
              >
                <span class="mdi mdi-information"></span>
                يبدو أن تحقيق هدفك لفقدان {{ weightDifference }} كيلوغرامات خلال
                شهر رمضان يتطلب وقتًا إضافي. لكن لا تقلق، نحن هنا لمساعدتك!
                <br />
                <br />
                <small>
                  هناك فترة إضافية قدرها {{ daysToAchieveGoal }}
                  {{ "days" | translate }}
                  ستحتاجها لتحقيق هدفك. يمكننا ضبط البرنامج ليتناسب مع احتياجاتك
                  الفردية. المهم أنك بدأت في التفكير حول التدريب والاهتمام
                  بصحتك.
                </small>
              </ngb-alert>
            </div>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
  </div>
</section>

<!--  graphgoal -->
<!--  generating -->
<!--  email -->
<!--  name -->

<div class="next-btn border-0 bg-light w-100 shadow">
  <button (click)="onSubmitStep()" class="w-100 btn btn-primary py-2">
    {{ "get the program" | translate }}
  </button>
</div>
