/* Importing Bootstrap SCSS file. */
// $primary: purple;

@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;500&display=swap');

.fi {
  border-radius: 3px !important;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-family: "Tajawal", sans-serif !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.clicked-row {
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}
.clicked-row td,
.clicked-row th {
  background-color: #e0e0e0 !important;
}

.sticky-header {
  position: sticky;
  top: 0px;
  background-color: #fff;
  z-index: 100;
  margin-top: 20px !important;
}

td {
  color: rgb(98, 98, 98);
  font-weight: 300;
  padding-right: 30px;
  min-width: max-content;
  
}
thead tr {
  height: 50px;
  box-shadow: 0px 5px 5px 0px rgba(219, 219, 219, 0.4);
  -webkit-box-shadow: 0px 5px 5px 0px rgba(219, 219, 219, 0.4);
  -moz-box-shadow: 0px 5px 5px 0px rgba(219, 219, 219, 0.4);
}
.sticky-column td {
  color: rgb(52, 52, 52);
  font-weight: 500;
}
.sticky-column {
  position: sticky;
  left: 0;
  z-index: 1;
}
.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
