<section class="section">
  <div id="output" class="text-center">
    <h1
      class="text-muted py-2 w-75 rounded"
      style="margin: auto; background-color: rgba(255, 255, 255, 0.636)"
    >
      {{ "email" | translate }}
    </h1>
  </div>

  <div class="container px-4 mt-4">
    <ngb-alert
    *ngIf="!isInputValid"
    type="danger"
    [dismissible]="false"
  >
  <span class="mdi mdi-information"></span>
    {{'email is invalid' | translate}}
  </ngb-alert>
    <div class="row rounded" style="overflow: hidden" [formGroup]="emailForm">
      <input
        class="col py-0 my-0 bg-dark text-light"
        type="email"
        id="input"
        formControlName="email"
        name="email"
        placeholder="{{ 'name@gmail.com' | translate }}"
      />
    </div>
    <div>
      <p class="text-center mt-0 pt-0">
        <small style="font-size: 12px">
          {{
            "We will send you the training program to this email, so please ensure it is correct."
              | translate
          }}
        </small>
      </p>
    </div>
  </div>
</section>

<div class="next-btn border-top">
  <button
    type="submit"
    (click)="onSubmitStep()"
    class="w-100 btn btn-dark py-2"
    [disabled]="!isInputValid"
  >
    {{ "next" | translate }}
  </button>
</div>
