<section class="py-4">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-10">
        <div class="col-lg-3 col-md-4 mt-4 mt-sm-0 pt-2 pt-sm-0">
          <div class="form custom-form">
            <h1 class="mb-0 text-dark">{{ "our partners" | translate }}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-4 border-bottom border-top">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-3 col-md-2 col-6 text-center py-4">
        <img
          src="https://cdn.filestackcontent.com/auto_image/qZNLnVycQxvfADfe1W3M"
          class="avatar avatar-ex-sm"
          alt=""
        />
      </div>
      <!--end col-->

      <div class="col-lg-3 col-md-2 col-6 text-center py-4">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Gymshark_logo.svg/2560px-Gymshark_logo.svg.png"
          class="avatar avatar-ex-sm"
          alt=""
        />
      </div>
      <!--end col-->

      <div class="col-lg-3 col-md-2 col-6 text-center py-4">
        <img
          src="https://www.glanbianutritionals.com/sites/default/files/inline-images/CreaBev_Logo_CYMK_ol_Registered_0.png"
          class="avatar avatar-ex-sm"
          alt=""
        />
      </div>
      <!--end col-->

      <div class="col-lg-3 col-md-2 col-6 text-center py-4">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/7/79/Adidas_Logo.png"
          class="avatar avatar-ex-sm"
          alt=""
        />
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
