<div style="margin-top: 60px"></div>
<section class="section pt-4">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-10">
        <div class="col-lg-3 col-md-4 mt-4 mt-sm-0 pt-2 pt-sm-0">
          <div class="form custom-form">
            <h1 class="mb-0 text-dark">برامج الاسبوع</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-10 col-12 row">
        <div
          class="col-lg-4 col-md-6 col-12 mt-4 box-outer"
          *ngFor="let program of programs"
        >
          <a [routerLink]="['/program/' + program._id]">
            <div
              class="card bg-light text-light blog blog-primary shadow rounded border-0"
            >
              <div class="position-relative">
                <div class="picsum-img-wrapper">
                  <img
                    [src]="program.img"
                    alt="..."
                    class="card-img-top rounded-top"
                    style="
                      width: 100%;
                      min-height: 200px;
                      max-height: 200px;
                      object-fit: cover;
                    "
                  />
                </div>
              </div>
              <div class="card-body content border-0">
                <div>
                  <div class="d-flex justify-content-between align-items-start">
                    <h5
                      class="mb-0 col-10"
                      style="line-height: 28px; color: #4d4d4d"
                    >
                      {{ program.name }}
                    </h5>
                    <h3 class="mb-0 align-items-start" style="color: #72af78">
                      ${{ getRelatedPlan(program._id)?.price }}
                    </h3>
                  </div>
                  <p
                    class="text-secondary mb-0 col-9 mt-2"
                    style="max-height: 50px; overflow: hidden"
                  >
                    {{ program.description }}
                  </p>
                </div>
                <div class="row mt-2 border-top pt-2">
                  <div
                    class="col row d-flex justify-content-start align-items-start"
                  >
                    <div class="col-2">
                      <img
                        src="{{ getRelatedCoach(program.coach_id)?.img }}"
                        alt="profile img"
                        class="rounded-circle"
                        width="42"
                      />
                    </div>
                    <div class="col">
                      <small class="text-muted" style="white-space: nowrap">
                        {{ getRelatedCoach(program.coach_id)?.name }}
                      </small>
                      <h6 class="text-muted my-0 py-0">
                        <div class="badge bg-white text-secondary px-2 py-1">
                          <span class="mdi mdi-check-decagram text-primary">
                            موثّق
                          </span>
                        </div>
                      </h6>
                    </div>
                  </div>
                  <div class="col-1 d-flex justify-content-end align-items-end">
                    <span class="text-muted ms-2 py-0 my-0">
                      {{ getRelatedOrders(program._id).length }}
                    </span>
                    <span
                      *ngFor="let starIndex of getStarRange(); let i = index"
                      class="py-0 my-0"
                      [class]="
                        i < 4
                          ? 'mdi mdi-star text-warning'
                          : 'mdi mdi-star-outline text-warning'
                      "
                    ></span>
                  </div>
                </div>
              </div>
              <div class="card-footer border-0">
                <div class="d-flex justify-content-between row pb-4 pt-2">
                  <div
                    *ngFor="let item of program.phases | keyvalue"
                    class="progress-box col"
                  >
                    <h6
                      class="title text-secondary"
                      style="white-space: nowrap"
                    >
                      <span> {{ item.value }}% </span>

                      <span>
                        {{ item.key | translate }}
                      </span>
                    </h6>
                    <div class="progress bg-white">
                      <div
                        class="progress-bar position-relative"
                        [ngStyle]="{ backgroundColor: getColor(item.value) }"
                        [style.width.%]="item.value"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
